.friend-tile {
    border-radius: 40px;
    margin-right: 10px;
    margin-top: 15px;
    background-color: #33C1B5;
    opacity: 0.7;
    color: #FFF;
    list-style-type: none;
    padding: 15px;
    max-width: 80px;
    position: relative;
}

.friend-tile:after {
    content: " ×";
    color: #333;
    font-weight: 400;
    opacity: .6;
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    right: 20px;
    top: 14px;
}
